*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: white;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background-color: rgb(34, 34, 34);
}

button, input[type="button"]{
    -webkit-appearance: none;
}

.connect-btn{
    -webkit-appearance: none;
    border: 0;
    position: relative;
    padding: 20px 30px;
    height: 100%;
    border-radius: 10px;
    background-color: #0083bb;
    cursor: pointer;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    transition: all 0.2s ease;
}

.main-not-connected .connect-btn{
    min-width: 230px;
}

.connect-btn:hover{
    transition: all 0.2s ease;
    background-color: #00567b;
}

.connect-btn:focus{
    background-color: rgb(85, 85, 85);
}

@keyframes opacity {
    0%{
        opacity: 0;
        transform: scale(0.96);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes blob {
    0%{
        transform: scale(1);
        opacity: 0.95;
    }
    50%{
        transform: scale(1.05);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0.95;
    }
}

@keyframes infoStatus {
    0%{
        transform: scale(0.5);
        border-bottom: 10px solid transparent;
    }
    100%{
        transform: scale(1);
        border-bottom: 10px solid rgb(201, 201, 201);
    }
}

@keyframes bookingcardpersonnal {
    0%{
        border: 5px dotted transparent; 
    }
    50%{
        border: 5px dotted rgb(0, 101, 164);

    }
    100%{
        border: 5px dotted transparent;
    }
}

::placeholder{
    color: rgb(46, 46, 46);
    font-size: 1.1em;
}

.maxime{
    font-size: 0.8em;
    display: block;
    margin-top: 10px;
    opacity: 0.6;
}

input{
    border: none;
    padding: 0;
    background-color: transparent;
}

input[type="date"], input[type="time"], input[type="number"]{
    color: rgb(46, 46, 46);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.1em;
}

input:focus{
    outline: none;
    border: 0 none;
}

body{
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 100%;
}

#booking-ctn{
    width: 100%;
}

.info-weather{
    display: none;
    position: fixed; 
    width: 100%; 
    height: 100vh; 
    background-color: rgba(0,0,0,0.95);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.info-weather-open{
    display: flex !important;
    z-index: 2000;
}

.info-weather-inner{
    z-index: 500;
    position: relative;
    width: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -50px;
}

.close-info-weather{
    position: absolute;
    top: -25%;
    right: -2%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background-color: #2a2a2a;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    transition: all 0.2s ease;
    cursor: pointer;
}

.close-info-weather:hover{
    background-color: rgb(172, 29, 29);
    transition: all 0.2s ease;
}

div.waves{
    width: 100%;
    bottom: 0;
    /* height: 100%;*/
    position: absolute;
    z-index: 100;
}
  
svg{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    animation-name: move-left;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.info-temp-air, .info-temp-water, .info-swell{
    font-size: 2em;
    font-weight:bold;
}

.load-temp-info{
    font-size: 3.5em !important;
}

.degree-temp{
    margin-left: 4px;
}

.info-weather-block{
    background-color: #2796bf;
    border: 5px solid rgb(50, 50, 50);
    width: 30%;
    height: 200px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    padding:1.5em;
    border-radius:10px;
}

.info-weather-block:nth-child(3){
    background-color: rgb(58, 102, 198);
}

.info-weather-block:last-child{
    background-color: rgb(33, 83, 189);
}

#main-ctn{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-not-connected{
    height: initial !important;
    min-height: initial !important;
}

.video{
    position: absolute;
    bottom: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

.child-main-ctn{
    position: relative;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.main-not-connected .child-main-ctn{
  height: 800px;
}

.navbar-ctn{
    margin: 20px auto;
    width: 90%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
}

.logo img{
    width: 3em;
}

.weather{
    display: inline-flex;
    justify-content:center; 
    width:50px;
    height:50px;
    background-color: rgb(42,42,42);
    border-radius:100%;
    margin-left:30px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.weather:hover{
    background-color: rgb(233, 130, 3);
    transition: all 0.2s ease;
}

.profile-ctn{
    background-color: rgb(42,42,42);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.2s ease;
}

.profile-ctn:hover{
    background-color: rgb(233, 130, 3);
    transition: all 0.2s ease;
}

.inner-profile-ctn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
}

.booking-manage{
    cursor: pointer;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgb(211, 41, 41);
    margin-right: 20px;
}

.inner-profile-ctn img{
    width: 1.2em;
}

.booking-text{
    height: 100%;
    width: 90%;
    margin: 40px auto;
    flex-direction: column;
}

.text-info{
   margin-bottom: 40px;
}

.main-not-connected .text-info{
    margin-bottom: 20px;
}

.text-info > h1{
    font-size: 3.5em;
}

.text-info > h3{
    font-size: 1.5em;
    font-weight: 500;
    opacity: 0.9;
}

.text-info > p{
    font-weight: 300;
    font-size: 1.2em;
}

.inner-form{
    position: relative;
    animation: opacity 0.6s ease-out;
    display: flex;
    max-width: 1300px;
    background-color: rgb(232, 232, 232);
    border-radius: 20px;
    box-shadow: 10px 10px 101px -26px rgba(0,0,0,0.57);
    -webkit-box-shadow: 10px 10px 101px -26px rgba(0,0,0,0.57);
    -moz-box-shadow: 10px 10px 101px -26px rgba(0,0,0,0.57);
}

.inner-form > div:not(.inner-form div:last-child){
    padding: 25px;
    width: 100%;
    cursor: pointer;
}

.inner-form > div:not(.inner-form div:last-child)::after{
    position: absolute;
    z-index: 1000;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 35%;
    background-color: rgb(184, 184, 184);
}

.inner-form > div:not(.inner-form div:last-child):hover{
    background-color: rgb(210, 210, 210);
    border-radius: 20px;
}

.inner-form > div > input:not(.inner-form div:last-child input:last-child){
    margin-bottom: 10px;
    cursor: pointer;
}

.inner-form div label{
    color: rgb(169, 169, 169);
    margin-bottom: 4px;
}

.inner-form div input{
    width: 100%;
}

.btn-booking{
    padding: 15px 20px 15px 15px;
}

.btn-booking button{
    border: 0;
    position: relative;
    padding: 20px 30px;
    height: 100%;
    border-radius: 10px;
    background-color: #0083bb;
    cursor: pointer;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    transition: all 0.2s ease;
}

.btn-booking button:hover{
    transition: all 0.2s ease;
    background-color: #00567b;
}

.btn-booking button:focus{
    background-color: rgb(85, 85, 85);
}

.view-booking-ctn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.view-booking-inner{
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(34, 34, 34);
}

.view-booking-ctn input{
    padding: 20px 50px;
    border-radius: 10px;
    color: rgb(199, 199, 199);
    background-color: #343434;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    cursor: pointer;
    transition: all 0.2s ease;
}

.view-booking-ctn input:hover{
    color: rgb(233, 233, 233);
    transition: all 0.2s ease;
    background-color: #2b2b2b;
}

#list-booking-ctn{
    padding-bottom: 60px;
    background-color: rgb(34, 34, 34);
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.list-booking-inner{
  display: inline-flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0px auto;
}

.booking-card{
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  width: 380px;
  background-color: #2b2b2b;
  border-radius: 10px;
  padding: 20px;
  border: 5px solid rgb(50, 50, 50);
  transition: box-shadow 0.5s ease;
}

.booking-card:hover{
    transition: all 0.2s ease;
    -webkit-box-shadow: 5px 9px 33px 7px rgba(0,0,0,0.17); 
    box-shadow: 5px 9px 33px 7px rgba(0,0,0,0.17);
    border: 5px solid rgb(63, 63, 63);
}

.status-msg{
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 10px;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(34, 34, 34);
    top: 0;
    left: 0;
    z-index: 1000;
}

.info-toggle{
    display: flex;
    animation: infoStatus 0.2s ease;
    animation-fill-mode: forwards;
}

.bold-status{
    font-weight: bold;
}

.card-info-people{
  background-color: #6a6a6a;
  display: flex;
  border: 5px solid transparent;
  justify-content: center;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 10px;
}

.card-info-booking{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
}

.card-info-people span:first-child{
    font-size: 1.4em;
    color: rgb(244, 244, 244);
}

.card-info-people span:last-child{
    font-size: 1em;
    color: rgb(213, 213, 213);
}

.date-booking{
    display: flex;
    justify-content: space-around;
    font-size: 1em;
    margin-top: -20px;
}

.date-booking span{
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
}

.date-booking:last-child{
    font-weight: 300 !important;
    margin-top: -15px;
    font-size: 0.9em;
}

.date-checkin,.date-checkout{
    font-weight: bold;
    font-size: 0.95em;
}

.date-checkin{
    opacity: 0.9;
}

.card-info-booking > span:last-child{
    display: block;
    margin-top: -10px;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
}

.card-info-booking > span:last-child span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #6a6a6a;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: blob 1s ease infinite;
}

.title-info-booking{
    margin-bottom: 25px;
    font-size: 0.8em;
    opacity: 0.8;
    text-transform: uppercase;
    color: rgb(227, 227, 227);
    margin-top: 20px;
    text-align: center;
}

.user-icon-card{
    width: 1.3em;
    position: relative;
    top: 2px;
    margin-right: 10px;
}

.unique-card-color{
    border: 5px dotted transparent;
    animation: bookingcardpersonnal 1.5s ease-in infinite;
    background-color: #0083bb !important;
}

.unique-people-number{
    background-color: #0083bb !important;
}

.no-booking{
    width: 700px;
    background-color: rgb(41, 41, 41);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    padding: 20px 50px;
    -webkit-box-shadow: 8px 8px 20px 7px rgba(0,0,0,0.15); 
    box-shadow: 8px 8px 20px 7px rgba(0,0,0,0.15);  
    border: 2px solid transparent;
    transition: border 0.2s ease;
}

.no-booking:hover{
    border: 2px solid rgb(63, 63, 63);
    transition: border 0.2s ease;
}

.no-booking p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    color: rgb(210, 210, 210);
}

.no-booking-icon{
    width: 2.1em;
    margin-right: 20px;
}

.delete-booking{
    cursor: pointer;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: rgb(157, 157, 157);
    right: -15px;
    border-radius: 50%;
    top: -15px; 
    transition: all 0.2s ease-out;
    opacity: 0.9;
}

.delete-booking:hover{
    transition: all 0.2s ease;
    opacity: 1;
    background-color: rgb(172, 41, 41);
}

.delete-booking img{
    width: 1.5em;
}

.status{
    position: absolute;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(233, 130, 3);
    display: flex;
    justify-content: center;
    align-items: center ;
    left:0;
    right: 30px;
    height: 40px;
    width: 40%;
    top: -40px;
    margin: auto;
}

.approved{
    background-color: rgb(11, 106, 11);
}

.rejected{
    background-color: rgb(211, 41, 41);
}

.passed{
    background-color: rgb(99, 99, 99);
}

.info-booking-status{
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(50, 50, 50);
}

.status-green{
    border-bottom: 10px solid green;
}

.status-orange{
    border-bottom: 10px solid rgb(233, 130, 3);
}

.status-red{
    border-bottom: 10px solid rgb(211, 41, 41);
}

.status-grey{
    border-bottom: 10px solid grey;
}

.info-booking-status span{
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
}

.update-time-status{
    border-radius: 0px 10px 0px 0px;
    background-color: rgb(30, 179, 20);
    display: inline-flex;
    justify-content: center;        
    align-items: center;
    padding: 5px 15px;
    margin-left: 10px;
    cursor: pointer;
    position: absolute;
    right: -30px;
    height: 100%;
}

.icon{
    width: 8px;
}

.red-status{
    background-color: rgb(238, 10, 10);
}

.orange-status{
    background-color: orange;
}

.grey-status{
    background-color: grey;
}

@media screen and (max-height: 720px) {
    #main-ctn {
        background: url("../assets/img/wave.webp");
        background-size: cover;
        background-repeat: no-repeat;
        height: initial;
    }
    .child-main-ctn {
        height: initial;
    }

    .text-info > h1 {
     font-size: 2.6em;
    }

}

@media screen and (min-height: 1200px) {
    #main-ctn{
        max-height: 1200px;
    }
}

@media screen and (max-width: 1500px) {
    .inner-form > div:not(.inner-form div:last-child){
        padding: 30px 15px;
        width: 100%;
        font-size: 1em;
    }
    .btn-booking button{
        padding: 10px 15px;
    }
}

@media screen and (max-width: 1200px) {
    .list-booking-inner{
        width: 800px;
        margin: 50px auto;
      }
      .view-booking-inner input{
        padding: 20px 40px;
      }
}

@media screen and (max-width: 1120px) {
    .btn-booking button{
        padding: 20px 20px;
    }
    input[type="date"], input[type="time"], input[type="number"]{
        font-size: 0.90em;
    }
    .inner-form div label{
        font-size: 0.90em;
    }
}

@media screen and (max-width: 1000px) {
    .close-info-weather{
        right: 6%;
        top: -12%;
    }

    .info-temp-water, .info-temp-air, .info-swell {
        font-size: 3em;
    }

    .info-weather-inner{
        flex-direction: column;
    }

    .info-weather-block{
        align-items: center;
        margin-bottom: 20px;
        height: 140px;
        width: 80%;
    }
    

    input[type="date"], input[type="time"], input[type="number"]{
        font-size: 1em;
    }

    .inner-form div label{
        font-size: 1em;
    }

    .video {
        display: none;
    }
    
    #main-ctn {
        background: url("../assets/img/wave.webp");
        background-size: cover;
        background-repeat: no-repeat;
        height: initial;
    }

    .view-booking-inner{
        position: unset;
        margin-top: 40px;
        padding: 30px 10px 0px 10px;
    }

    .view-booking-inner a, .view-booking-inner input{
        width: 100%;
    }

    .view-booking-inner input{
        padding: 20px;
        font-size: 1.2em;
    }

    .inner-form{
        display: block;
    }

    .inner-form > div:not(.inner-form div:last-child){
        padding: 30px;
    }

    .booking-text{
        margin: auto;
    }
    
    .btn-booking button{
        padding: 20px 20px;
        width: 100%;
    }

    .text-info{
        margin-bottom: 40px;
     }
     
     .text-info > h1{
         font-size: 2.5em;
         line-height: 1.2em;
         margin-top: 5px;
     }
     
     .text-info > h3{
         font-size: 1.2em;
     }
     
     .text-info > p{
        font-size: 1.2em;
        margin-top: 10px;
     }

     #list-booking-ctn{
        display: flex;
        justify-content: center;
    }
    
    .list-booking-inner{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0px auto;
        padding: 10px;
    }

    .child-main-ctn {
        height: initial;
    }

    .main-not-connected{
        min-height: initial !important;
    }

    .main-not-connected .view-booking-inner{
        margin: 0;
    }

    .main-not-connected .view-booking-ctn{
        margin: 0;
    }

    .main-not-connected .child-main-ctn{
        height: initial !important;
    }

    .main-not-connected .child-main-ctn form button{
        width: 100%;
    }

    .main-not-connected .view-booking-inner{
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
        background: transparent;
        padding: 0;
    }

    .main-not-connected .view-booking-inner input{
        background-color:rgb(233, 130, 3);
        color: white;
    }

    .main-not-connected .view-booking-inner input:hover{
        background-color:rgb(157, 96, 21);
    }
}

@media screen and (max-width: 600px) {
    .close-info-weather{
        top: initial;
        bottom: -26%;
        right: 0;
        left: 50%;
        border-radius:10px;
        cursor: pointer;
    }
}

@media screen and (max-width: 390px) {
    .text-info > h1{
        font-size: 2.1em;
    }

    .close-info-weather{
        width: 40%;
    }

    .info-weather-block{
        height: 100px;
    }

    .info-temp-water, .info-temp-air, .info-swell{
        font-size: 2em;
    }

    .status{
        width: 50%;
    }

    .info-booking-status{
        padding: 15px 0;
    }

    .info-booking-status span{
        font-size: 1em;
    }
}

@media screen and (max-width: 312px ) {
    .info-weather-block > span:first-child{
        font-size: 0.9em;
    }
    .info-weather-block > span:last-child{
        font-size: 1.2em;
    }
    .info-weather-block {
        padding: 0;
    }
}

@media screen and (max-height: 500px ) {
    .child-main-ctn{
        height: initial;
    }
}
